---
import Page from '../../layouts/Page.astro';
import { getCollection } from 'astro:content';
import { withBase } from '../../lib/base';

const posts = (await getCollection('blog'))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Page title="Blog" heading="Alexandre's interior design blog">
  <ul class="post-list">
    {posts.map((post) => (
      <li>
        <p class="meta">{post.data.date.toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' })}</p>
        <a href={withBase(`/blog/${post.data.permalink}`)}>{post.data.title}</a>
        {post.data.description && <p>{post.data.description}</p>}
      </li>
    ))}
  </ul>
</Page>
