
/* Header */

@headerBgColor: #1B1B1B;


.site-title-font {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@siteTitleColor: #FFF;

@logoContainerWidth: 150px;

@siteTitleContainerWidth: 255px;


/* Navigation */

.nav-font {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

@navColor: #666;

@navActiveColor: #EEE;




@navButtonColor: #ededed;

@navButtonTextColor: #181818;

.nav-button-font {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}


/* Banner */

@overlayColor: rgba(0, 0, 0, 0.3);

.banner-heading-font {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1em;
}

@bannerHeadingColor: #FFF;

.banner-text-font {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.5em;
}

@bannerTextColor: #FFF;



@bannerButtonColor: #ededed;

@bannerButtonTextColor: #181818;

.banner-button-font {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}


/* Main Content */

@pageBgColor: #fff;

.body-font {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 1.6em;
}

@pageTextColor: #666;

@pageLinkColor: #14AAFF;

@pageMetaColor: #666666;

.heading1-font {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.2em;
}

@heading1Color: #111;

.heading2-font {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.2em;
}

@heading2Color: #666;

.heading3-font {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.2em;
}

@heading3Color: #666;

.quote-font {
  font-family: Georgia, "Times New Roman", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 27px;
  letter-spacing: 0px;
  line-height: 1.65em;
}

@quoteColor: #AAA;



/* Blog */








/* Summary Block */

.summary-heading-font {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@summaryHeadingColor: #666;



/* Sidebar */




.subnav-title-font {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

@subNavTitleColor: #111;

.subnav-link-font {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

@subNavLinkColor: #444;

@subNavActiveColor: #111;





/* PreFooter */

@preFooterBgColor: #DDD;

@preFooterTextColor: #444;


/* Footer */

@footerBgColor: #1B1B1B;

@footerTextColor: #FFF;

.footer-nav-font {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

@footerNavLinkColor: #FFF;

@footerNavActiveColor: #CCC;

.site-info-font {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

@siteInfoColor: #FFF;



