---
import Page from '../layouts/Page.astro';
---

<Page title="About" heading="More than just an interior designer, Alexandre designs spaces that feel like home.">
  <p>Alexandre Liaume was born in the Loire Valley and has lived in Ireland, Mexico and, for the last eighteen years, in London which he now considers his home. His interior design work has featured in Houzz and Period Living.</p>

  <p>Alexandre combines his eclectic style, French background and passion for London living in a unique vision. The resultant spaces are colourful, tasteful and beautiful whilst also being natural, organic and easy to live in. When Alexandre designs for you, whether it is your home or business, his designs will reflect your personality, your life, and what you want to use the space for — as if you had been born to enjoy it.</p>

  <p>An experienced product manager whose clients have included Hoare's Bank, PayPal, Expedia and the Cabinet Office, Alexandre is not only effective at helping you reach your vision for a particular space, but also is adept at ensuring that every project runs as efficiently as is possible.</p>

  <p>Whatever your dream, Alexandre will give you as much guidance as you need, with project plans that allow you to start with a foundation which can later be built upon to create fully conceptualised design schemes. Whatever your needs, the results will be elegant, practical interior designs that make you feel like you have truly come home.</p>

  <p>Alexandre is available to design for homes, offices, shops, restaurants, bars and communities.</p>
</Page>
