---
import Page from '../layouts/Page.astro';
---

<Page title="Contact" heading="Contact Alexandre Interiors">
  <p>Email at <a href="mailto:alex@alexandreinteriors.com">alex@alexandreinteriors.com</a>.</p>

  <div class="contact-block">
    <h2>Office</h2>
    <p>
      London, England, E2 6PU<br />
      United Kingdom
    </p>
  </div>

  <p>For enquiries, please email with a brief description of your project and location.</p>
</Page>
