---
import Page from '../layouts/Page.astro';
import Gallery from '../components/Gallery.astro';
import { getGallery } from '../lib/galleries';

const images = getGallery('inspiration');
---

<Page title="Inspiration" heading="Interior design inspiration">
  <p>When I feel inspired by interiors or places I upload pictures I have taken on Instagram.</p>
  <p>
    <a href="https://instagram.com/alexandreinteriors" rel="noopener noreferrer">Follow @alexandreinteriors on Instagram</a>
  </p>

  <Gallery images={images} alt="Interior design inspiration photograph" columns={4} />
</Page>
