---
import Page from '../layouts/Page.astro';
---

<Page title="Inspiration" heading="Interior design inspiration">
  <p>When I feel inspired by interiors or places I upload pictures I have taken on Instagram.</p>
  <p>
    <a href="https://instagram.com/alexandreinteriors" rel="noopener noreferrer">Follow @alexandreinteriors on Instagram</a>
  </p>
</Page>
