---
import Page from '../layouts/Page.astro';
import Gallery from '../components/Gallery.astro';
import { getGallery } from '../lib/galleries';

const images = getGallery('press');
---

<Page title="Press" heading="Press">
  <p>Alexandre's interior design work has featured in Houzz and Period Living.</p>
  <ul>
    <li><a href="https://www.houzz.co.uk/pro/alexandre-liaume/alexandre-liaume" rel="noopener noreferrer">Houzz profile</a></li>
  </ul>

  <Gallery images={images} alt="Press coverage for Alexandre Interiors" columns={2} />
</Page>
