---
import Page from '../layouts/Page.astro';
---

<Page
  title="Services"
  bannerImage="/images/1517078617766-IOQ50G80CSWNZ21RQLYC/Screenshot-2018-01-27-18.32.43.png"
  bannerAlt="Interior design services"
  heading=""
>
  <Fragment slot="banner">
    <p><strong>Services</strong></p>
    <p>Every interior design project is unique</p>
  </Fragment>

  <p class="text-center">From requesting style advice to commissioning a fully realised design plan you can request as much or as little support as you require to meet your needs and budget.</p>

  <h2>Design concepts</h2>
  <ul>
    <li>Client meeting</li>
    <li>Mood boards</li>
    <li>Sample boards</li>
    <li>Colour boards</li>
    <li>Lighting design</li>
    <li>Space planning and layouts</li>
  </ul>

  <h2>Source and supply</h2>
  <ul>
    <li>Selecting and sourcing furniture and materials</li>
    <li>Organising supply and delivery</li>
    <li>Quality control</li>
    <li>Budgeting</li>
  </ul>

  <h2>Project management</h2>
  <ul>
    <li>Cost management</li>
    <li>Contractor management</li>
    <li>Timelines and risk management</li>
  </ul>
</Page>
