---
import { withBase } from '../lib/base';

interface Props {
  image: string;
  alt?: string;
  tall?: boolean;
}

const { image, alt = '', tall = true } = Astro.props;
const src = withBase(image);
---

<div class:list={['banner-thumbnail-wrapper', 'has-description', { tall }]}>
  <div class="color-overlay"></div>
  <figure class="banner-figure">
    <img src={src} alt={alt} />
  </figure>
  <div class="desc-wrapper">
    <slot />
  </div>
</div>
