---
import Page from '../../layouts/Page.astro';
import Gallery from '../../components/Gallery.astro';
import { getGallery } from '../../lib/galleries';

const images = getGallery('hoxton');
---

<Page
  title="Hoxton Flat"
  bannerImage="/images/1573807257139-ACP8QBTR46RLGXZM0RBB/AlexandreInteriors-HoxtonFlat-LivingRoom.jpg"
  bannerAlt="Hoxton flat"
  heading=""
>
  <Fragment slot="banner">
    <p><strong>Hoxton flat refurbishment</strong></p>
    <p>Making a stylish and cosy home in London</p>
  </Fragment>

  <Gallery images={images} alt="Hoxton flat interior by Alexandre Interiors" columns={3} />

  <p><a href="/portfolio">← Back to portfolio</a></p>
</Page>
